@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }


img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

* {
  box-sizing: border-box !important; }

.CodeMirror-gutters {
  border-right: 0 !important; }

@font-face {
  font-family: 'icomoon';
  src: url('icons/icomoon.eot?-hf0qkp');
  src: url('icons/icomoon.eot?#iefix-hf0qkp') format('embedded-opentype'), url('icons/icomoon.ttf?-hf0qkp') format('truetype'), url('icons/icomoon.woff?-hf0qkp') format('woff'), url('icons/icomoon.svg?-hf0qkp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #272822;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cog:before {
  content: "\e600"; }

header {
  background: #6b5792;
  padding: 8px 20px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%; }
  header .logo {
    width: 300px;
    height: 30px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  header h1 {
    margin: 0;
    line-height: 1; }

body, html {
  overflow: hidden; }

body {
  height: 100vh; }

#main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
  background: #272822;
  overflow-y: auto;
  padding: 55px 0 50px; }
  #main .code-bucket {
    -webkit-flex: 10;
        -ms-flex: 10;
            flex: 10; }
  #main .code-bucket {
    height: 100%; }
  #main #code-mirror__form {
    height: 100%; }
  #main .CodeMirror {
    height: 100%;
    border: 0; }
    #main .CodeMirror .CodeMirror-scroll {
      padding: 0; }

.login-register {
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .login-register #login-register__form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    min-width: 35vw; }

form .fields {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
form .field {
  width: 100%; }
  form .field.half-width {
    width: 50%; }
    form .field.half-width:first-child {
      padding: 0 5px 0 0; }
    form .field.half-width:last-child {
      padding: 0 0 0 5px; }
  form .field label {
    display: none; }
  form .field input {
    width: 100%;
    padding: 5px 10px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #272822; }
form .form-actions {
  padding: 10px 0 0; }
  form .form-actions button {
    padding: 5px 10px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    background: #6b5792;
    color: #ffffff;
    font-weight: 100;
    text-transform: uppercase;
    border: 0; }

#footer-toolbar {
  height: 43px;
  z-index: 5;
  position: fixed;
  padding: 0 20px;
  bottom: 0;
  width: 100%;
  transition: height 300ms; }
  #footer-toolbar.open-for-tags {
    height: 77px; }
  #footer-toolbar.open-for-chat {
    height: 440px; }
  #footer-toolbar .border-wrap {
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    height: 100%;
    padding: 10px 10px 3px;
    background: #00cdcb;
    position: relative; }
  #footer-toolbar .inner-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #footer-toolbar .actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  #footer-toolbar label {
    font-size: 0.8rem;
    color: #ffffff; }
  #footer-toolbar input {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border: 1px solid #272822;
    border-right: 0;
    background: #ffffff;
    font-size: 0.8rem;
    padding: 2px 6px 3px;
    margin-right: -1px;
    color: #272822; }
  #footer-toolbar button {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 1px solid #272822;
    border-radius: 2px;
    background: #ffffff;
    font-size: 0.8rem;
    color: #272822; }
    #footer-toolbar button:hover {
      background: #272822;
      color: #ffffff; }

.actions > div {
  margin-right: 10px; }

.load--action button {
  border-left: 0;
  border-radius: 0 2px 2px 0; }

#toolbar-prefs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }
  #toolbar-prefs .option {
    margin-left: 10px; }

#tools__wrapper aside {
  display: none; }

#tags-input__wrapper {
  margin-top: 10px; }
  #tags-input__wrapper form {
    width: 100%; }
    #tags-input__wrapper form input {
      width: 90%; }
    #tags-input__wrapper form button {
      width: 10%; }

#chat-input__wrapper #chat-history {
  max-height: 40vh;
  overflow-y: auto; }
#chat-input__wrapper #chat__form {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 98%; }
  #chat-input__wrapper #chat__form input {
    width: 90%; }
  #chat-input__wrapper #chat__form button {
    width: 10%; }

#chat-input__wrapper {
  position: relative; }
  #chat-input__wrapper #chat-history-wrapper {
    padding: 10px 0; }
  #chat-input__wrapper .chat-history {
    display: inline-block;
    width: 100%;
    height: 350px;
    background-color: #FFF;
    border-right: 0;
    border-left: 0;
    overflow-y: scroll;
    padding: 0 10px; }
  #chat-input__wrapper .chat-msg__wrapper {
    display: block;
    margin-bottom: 15px; }
    #chat-input__wrapper .chat-msg__wrapper h1, #chat-input__wrapper .chat-msg__wrapper h2, #chat-input__wrapper .chat-msg__wrapper h3, #chat-input__wrapper .chat-msg__wrapper h5, #chat-input__wrapper .chat-msg__wrapper h6, #chat-input__wrapper .chat-msg__wrapper p, #chat-input__wrapper .chat-msg__wrapper ol, #chat-input__wrapper .chat-msg__wrapper ul, #chat-input__wrapper .chat-msg__wrapper li {
      margin: 0;
      color: #272822;
      font-family: 'Lato', Helvetica, sans-serif; }
  #chat-input__wrapper .chat-history-wrapper {
    position: relative;
    overflow-y: auto;
    height: 318px; }
    #chat-input__wrapper .chat-history-wrapper .chat-history {
      position: absolute;
      bottom: 0; }

h1 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #ffffff; }

label {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 200; }

select {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 500; }

.strong {
  font-weight: 500; }
/*# sourceMappingURL=codegrinder.css.map */