body,
html{
    overflow: hidden;
}

body{
    height: 100vh;
}

#main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background: $softBlack;
    overflow-y: auto;
    padding: 55px 0 50px;

    .code-bucket{
        flex: 10;
    }

    .code-bucket{
        height: 100%;
    }
    #code-mirror__form{
        height: 100%;
    }
    .CodeMirror{
        height: 100%;
        border: 0;

        .CodeMirror-scroll{
            padding: 0;
        }
    }
}
