@font-face {
	font-family: 'icomoon';
	src:url('icons/icomoon.eot?-hf0qkp');
	src:url('icons/icomoon.eot?#iefix-hf0qkp') format('embedded-opentype'),
		url('icons/icomoon.ttf?-hf0qkp') format('truetype'),
		url('icons/icomoon.woff?-hf0qkp') format('woff'),
		url('icons/icomoon.svg?-hf0qkp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    color: $softBlack;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
	content: "\e600";
}
