form{

    .fields{
        width: 100%;
        display: flex;
    }

    .field{
        width: 100%;

        &.half-width{
            width: 50%;

            &:first-child{
                padding: 0 5px 0 0;
            }

            &:last-child{
                padding: 0 0 0 5px;
            }
        }


        label{
            display: none;
        }

        input{
            width: 100%;
            padding: 5px 10px;
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            font-weight: 300;
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: 5px;
            border: 0;
            border-bottom: 1px solid $softBlack;
        }
    }

    .form-actions{
        padding: 10px 0 0;

        button{
            padding: 5px 10px;
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            background: $dmPurp;
            color: $white;
            font-weight: 100;
            text-transform: uppercase;
            border: 0;
        }
    }

}
