header{
    background: $dmPurp;
    padding: 8px 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;

    .logo{
        width: 300px;
        height: 30px;
        align-self: flex-end;
    }

    h1{
        margin: 0;
        line-height: 1;
    }
}
