.login-register{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #login-register__form{
        background: $white;
        padding: 30px;
        border-radius: 10px;
        min-width: 35vw;
    }
}
