h1{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: $white;
}

label{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

select{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.strong{
    font-weight: 500;
}
